<?xml version="1.0" encoding="UTF-8"?>
<!--
    Exercise 1: Configuring a Basic Spring Application
    Exercise 2: Implementing Dependency Injection (setter injection)
    Exercise 5: Configuring the Spring IoC Container (central bean config)
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Exercise 1: define beans for BookRepository and BookService -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Exercise 2 & 5: wire BookRepository into BookService via a setter property -->
    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
