<?xml version="1.0" encoding="UTF-8"?>
<!-- Exercise 7: Implementing Constructor and Setter Injection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Constructor injection: uses BookService(BookRepository) -->
    <bean id="bookServiceConstructorInjected" class="com.library.service.BookService">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <!-- Setter injection: uses BookService.setBookRepository(...) -->
    <bean id="bookServiceSetterInjected" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
